body {
    font-family: Arial;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #212121;
  }
  
  .right {
    right: 0;
    background-color: rgb(26, 26, 26);
  }

 input{
    text-align: center;
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: white;

 }

 input::placeholder{
    font-size: 28px;
    color: rgb(42, 40, 40);
    background-color: w;
    text-align: center;
    justify-content: center;

    align-items: center;

}


